[package]
name = "uom"
version = "0.17.0"
authors = ["Mike Boutin <mike.boutin@gmail.com>"]
description = "Units of measurement"
documentation = "https://docs.rs/uom"
#homepage = ""
repository = "https://github.com/iliekturtles/uom"
readme = "README.md"
keywords = ["units", "measurement", "SI", "dimensional-analysis", "no_std"]
categories = ["no-std", "science", "value-formatting"]
license = "Apache-2.0/MIT"

[package.metadata.docs.rs]
all-features = true

[badges]
appveyor = { repository = "iliekturtles/uom" }
travis-ci = { repository = "iliekturtles/uom" }
coveralls = { repository = "iliekturtles/uom" }
maintenance = { status = "actively-developed" }

[workspace]
members = ["tests/feature_check"]

[dependencies]
num = "0.1"
serde = { version = "1.0", optional = true, default-features = false }
typenum = "1.9"

[dev-dependencies]
approx = "0.1"
quickcheck = "0.6"
serde_json = "1.0"
static_assertions = "0.2"

[features]
default = ["autoconvert", "f32", "f64", "si", "std"]
autoconvert = []
usize = []
u8 = []
u16 = []
u32 = []
u64 = []
isize = []
i8 = []
i16 = []
i32 = []
i64 = []
bigint = []
biguint = []
rational = []
rational32 = []
rational64 = []
bigrational = []
f32 = []
f64 = []
si = []
std = []
# The `use_serde` feature exists so that, in the future, other dependency features like num/serde
# can be added. However, num/serde is currently left out because it has not yet been updated to
# Serde 1.0. It is also necessary to name the feature something other than `serde` because of a
# cargo bug: https://github.com/rust-lang/cargo/issues/1286
use_serde = ["serde"]

[[example]]
name = "base"
required-features = ["autoconvert", "f32", "si"]

[[example]]
name = "mks"
required-features = ["f32"]

[[example]]
name = "si"
required-features = ["f32", "si"]
