name: CI - min test matrix
on: [pull_request, push]

jobs:
  min_test_matrix:
    name: Run minimal test matrix (Rust ${{ matrix.toolchain }} on ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    env:
      RUSTFLAGS: -D warnings

    strategy:
      fail-fast: false # If one job fails, run remaining jobs.
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        toolchain:
          - stable
          - beta
          - nightly
          - 1.68.0  # MSRV

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Test all crates
        run: cargo test --all --verbose --features "use_serde"
